@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark;
}

#root {
  min-height: 100%;
}