@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full overflow-hidden w-full;
  }

  body {
    @apply bg-bg-light dark:bg-bg-dark text-text-light dark:text-text-dark antialiased;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Global utility for hiding scrollbars */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
  }
}